CREATE DATABASE [DigitalWatch]
GO
USE [DigitalWatch]
GO
/****** Object:  Table [dbo].[Alarm]    Script Date: 03/17/2024 1:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alarm](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[alarm_name] [varchar](256) NOT NULL,
	[timer] [datetime] NOT NULL,
 CONSTRAINT [Alarm_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
